#basicExample2 img {
    border-radius: 13px;
}
.btn-outline-primary:hover {
    color: #767676;
    background-color: #F0F0F0 !important;
}

.btn-outline-primary{
    color: #767676 !important;
    font-size: 24px !important;
    border-radius:30px!important;
    padding: 8px;

}
.dropdown-item{
    font-weight: bold !important;
}
.dropstart .dropdown-menu{
    top: 50px !important;
    margin-right: -60px !important;
}

.dropdown-toggle::before {
    border-top: .3em solid !important;
    border-right: .3em solid transparent !important;
    border-bottom: 0;
    border-left: .3em solid transparent !important;
    margin-right: .0;
}
.form-control{
    border-radius: 30px;
    padding: .375rem 1rem;
}

.grid-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
    justify-content: center; */
  
    /* grid-template-rows: masonry; */
  
    margin: 0 auto;
    margin-top: 82px!important;
  }
  
  .grid-item {
    width: 230px;
    /* height: 200px;
    object-fit: cover; */
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: zoom-in;
    background-color: lightgray;
  }
  
  .grid-item:hover {
    filter: opacity(0.7);
  }

.justified-gallery{
}

.nav-link{
    font-size: 15px !important;
    font-weight: bold;
    border-radius: 30px;
    padding: .8rem 1rem !important;
    
}
.nav-link:hover, .navbar-brand:hover{
    background-color: #ddd;
    border-radius: 30px;
}
.nav-link.active{
    border-radius:30px;
    background-color: black;
    color:white !important
}
.navbar-light, .navbar-brand{
    padding: 8px;
}
.search{
    position: relative;
}
.search input {
    height: 50px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
    color #333;
    background-color: #ddd;
    border-radius: 2.2rem;
}
.search input:hover {
   border: 0;
    background-color: #ddd;
}

.search input:focus {
   border: 0;
    background-color: #EFEFEF;
}
.search .fa-search {
    position: absolute;
    top: 17px;
    left: 16px
}
.Subtitulos{
    font-size: 10px;
    color: #767676;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 6px;

}