#basicExample2 img {
    border-radius: 13px;
}

.nav-link{
    font-size: 15px !important;
    font-weight: bold;
    border-radius: 30px;
    padding: .8rem 1rem !important;
    
}
.nav-link:hover, .navbar-brand:hover{
    background-color: #ddd;
    border-radius: 30px;
}
.nav-link.active{
    border-radius:30px;
    background-color: black;
    color:white !important
}
.form-control{
    border-radius: 30px;
    padding: .375rem 1rem;
}
.search input {
    height: 50px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
    color #333;
    background-color: #ddd;
    border-radius: 2.2rem;
}
.search input:hover {
   border: 0;
    background-color: #ddd;
}

.search input:focus {
   border: 0;
    background-color: #EFEFEF;
}
.search{
    position: relative;
}
.search .fa-search {
    position: absolute;
    top: 17px;
    left: 16px
}
.btn-outline-primary:hover {
    color: #767676;
    background-color: #F0F0F0 !important;
}

.btn-outline-primary{
    color: #767676 !important;
    font-size: 24px !important;
    border-radius:30px!important;
    padding: 8px;
}
.navbar-light, .navbar-brand{
    padding: 8px;
}
.dropdown-toggle::before {
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    margin-right: .0;
}